button {
}

.container {
    padding: 10px;
}

.buttonContainer {
    margin-top: 20px;
    padding: 10px;
}

table {
    margin-top: 20px;
    width: 100%;
    padding: 0px !important;
    .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
  }

  