.userList-btn {
  font-size: 20px;
  padding-left: 0;
}

.container {
  padding: 0 20px;
}

.buttonContainer {
  margin-top: 20px;
  width: 100%;
}

table {
  margin-top: 20px;
  width: 100%;
  padding: 0px !important;

  td, th {
    width: 25%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}

.mat-table {
  border-spacing: 15px;
  background-color: #24406a;
}


.mat-header-cell {
  font-size: 1rem;
  color: white;
}

.mat-cell {
  color: white;
}

button {
  color: white;
}

.addUser-btn {
  border-radius: 15px;
  background-color: #ffb41f;
}

.action-icon {
  color: #ffb41f;
}

.filter-text {
  color: white;
}

.Action-title {
  padding-left: 20px;
}