

.submit-btn {
    background-color: #FFB41F;
    color: white;
}

.user-icon {
    color: #24406A;
}

.btn-container {
    border: none;
    display: flex;
    gap: 1rem;
    width: 100%;
    background: none;
}