<h1 mat-dialog-title>{{actionName}}</h1>

<div mat-dialog-content>

  <form [formGroup]="userForm" mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Enter name...">
      <mat-icon matSuffix class="user-icon">sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Job Role</mat-label>
      <input formControlName="jobTitle" matInput placeholder="Enter job role...">
      <mat-icon matSuffix class="user-icon">work</mat-icon>
    </mat-form-field>

  </form>

</div>

<button class="btn-container">

  <button mat-raised-button class="submit-btn" (click)="onSubmit()">{{actionBtn}}</button>
  <button mat-raised-button class="submit-btn" [matDialogClose]>Close</button>

</button>