<h1 mat-dialog-title>Add User</h1>

<div mat-dialog-content>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Job Role</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix color="primary">work</mat-icon>
    </mat-form-field>
  
</div>

<button mat-raised-button color="warn">Submit</button>